{% extends 'base.html' %}
{% block content %}

<h1>Classroom Detail</h1>

<div class="carb mb-3">
  <img src="{{ classroom.image }}" class='card-img-top' alt="No Image Found">
  <div class="card-body">
    <h4 class="card-title">{{ classroom.name }}</h4>
    <p class="card-text">{{ classroom.description }}</p>
    <p class="card-text"><small class="text-body-secondary">Zoom Link: {{ classroom.zoom_link }}</small></p>
  </div>
</div>
      {% if user.teacher %}
        <form method="post" action="{% url 'classroom_detail' pk=classroom.id %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Save Zoom Link</button>
        </form>
      {% endif %}

      <ul class="nav nav-tabs" id="myTabs">
        <li class="nav-item">
          <a class="nav-link active" data-bs-toggle="tab" href="#tab-content-1">Announcements</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="tab" href="#tab-content-2">Schedule</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="tab" href="#tab-content-3">Meet the Teacher!</a>
        </li>
      </ul>

      <div class="tab-content mt-3">
        <div class="tab-pane fade show active" id="tab-content-1">
          <h4>Announcements</h4>
          <div>
            <a href="/classrooms/{{ classroom.id }}/announcement/create/">Add Announcement</a>
          </div>
          
          {% for announcement in classroom.announcement_set.all %}
            <p>{{ announcement.title }}</p>
            <p>{{ announcement.created_at }}</p>
            <p>{{ announcement.description }}</p>
            <a href="/classrooms/{{ classroom.id }}/announcement/delete/">Delete Announcement</a>
            <a href="/classrooms/{{ classroom.id }}/{{ announcement.id }}/create/">Comment</a>
            {% for comment in announcement.comment_set.all %}
              <p>{{ comment.description }}</p>
            {% endfor %}
          {% endfor %}
        </div>
        </div>

        <div class="tab-pane fade" id="tab-content-2">
          <h4>Schedule</h4>
          <p>{{ classroom.schedule }}</p>
        </div>

        <div class="tab-pane fade" id="tab-content-3">
          <h4>Teacher Profile</h4>
          {% for profile in classroom.profile_set.all %}
            <p>{{ profile.title }}</p>
            <p>{{ profile.created_at }}</p>
            <p>{{ profile.description }}</p>
            <a href="/classrooms/{{ classroom.id }}/profile/delete/">Delete Profile</a>
            <a href="/classrooms/{{ classroom.id }}/{{ profile.id }}/edit/">Edit Profile</a>
          {% endfor %}
          <div>
            <a href="/classrooms/{{ classroom.id }}/profile/create/">Add Teacher Profile</a>
          </div>
        </div>
      </div>

      <div class="card-action">
        <a href="{% url 'classroom_update' classroom.id %}">Edit Class</a>
        <a href="{% url 'classroom_delete' classroom.id %}">Delete Class</a><br><br><br>
      </div>
    </div>
  </div>
</div>


{% endblock %}
