{% extends 'base.html' %}
{% block content %}

<h1>Classroom Directory</h1>

{% for classroom in classroom_list %}
  <a href="{% url 'classroom_detail' classroom.id %}">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ classroom.name }}</span>
        <p>Zoom Link: {{ classroom.zoom_link }}</p>
        <p>Decription: {{ classroom.description}}</p>

      </div>
    </div>
  </a>
{% endfor %}
<div>
  <li><a href="{% url 'classroom_create' %}">Add a Class</a></li>
</div>

{% endblock %}