{% extends 'base.html' %}
{% block content %}

<h1>Classroom Directory</h1>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope='col'>Class</th>
            <th scope="col">Description</th>
            <th scope="col">Zoom Link</th>
        </tr>
    </thead>
    <tbody>
        {% for classroom in classroom_list %}
            <tr>
                <td><a href="{% url 'classroom_detail' classroom.id %}">{{ classroom.name }}</a></td>
                <td>{{ classroom.description }}</td>
                <td><a href='{{ classroom.zoom_link }}' target='_blank'>{{ classroom.zoom_link }}</a></td>
            </tr>
        {% endfor %}
    </ul>
    </tbody>
</table>
<div><br><br>
  <p><a href="{% url 'classroom_create' %}">Add a Class</a></p>
</div>
<br><br><br>
<button type='submit' class='btn-flat white-text'><a class="nav-link" href="/">Back to Dashboard</a></button>

{% endblock %}