{% extends 'base_student.html' %}
{% block content %}

<h1>Student Details</h1>

<div>
    <table>
        <tr>
            <th>Edit</th>
            <th>Name</th>
            <th>GPA</th>
            <th>Email</th>
            <th>Image</th>
            <th>Grade</th>
            <th>Address</th>
            <th>Parent Contact</th>
        </tr>
        <tr>
            <td><a href="{% url 'student_update' student.id %}">Edit</a></td>
            <td>{{ student.name }}</td>
            <td>{{ student.gpa }}</td>
            <td>{{ student.email }}</td>
            <td>{{ student.image }}</td>
            <td>{{ student.grade }}</td>
            <td>{{ student.address }}</td>
            <td>{{ student.parents }}</td>
        </tr>
    </table>
</div>

{% endblock %}