{% extends 'base.html' %}
{% block content %}

    <h1>Student List</h1>
    {% for student in students %}
        <div>
            <a href="{% url 'student_detail' student.id %}">
                <p>Name: {{ student.name }}</p>
            </a>
                <p>GPA: {{ student.gpa }}</p>
        </div>
        <a href="{% url 'student_delete' student.id %}">Delete Student</a><br><br>
    {% endfor %}
    <p><a href="{% url 'student_create' %}">Add a Student</a></p>
    <a class="nav-link" href="/">Back to Dashboard</a>
</body>
</html>

{% endblock %}