{% extends 'base.html' %}
{% block content %}

<h1>Sign Up</h1>

<p class="red-text">{{ error_message }}</p>

<form method="POST" action="{% url 'signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  <label for="id_role">Select Role:</label>
  <select name="role" id="id_role">
    <option value="student">Student</option>
    <option value="teacher">Teacher</option>
  </select><br>
  <label for="name">Name:</label>
  <input type='text' name="name"><br>
  <label for="email">Email:</label>
  <input type='text' email="email"><br>
  <input type="submit" class="btn-flat white-text" value="Sign Up">
</form>

{% endblock %}