{% extends 'base.html' %}
{% block content %}

<h1>Dashboard</h1>
<br><br><br>
<div id="carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://i.postimg.cc/NMgJQjZ8/download.jpg" class="d-block w-100" alt="Image Not Responding">
        </div>
        <div class="carousel-item active">
            <img src="https://i.postimg.cc/rsnJ9Gnz/images-1.jpg" class="d-block w-100" alt="Image Not Responding">
        </div>
        <div class="carousel-item">
            <img src="https://i.postimg.cc/138ccq1Y/download-1.jpg" class="d-block w-100" alt="Image Not Responding">
        </div>
        <div class="carousel-item">
            <img src="https://i.postimg.cc/tgSLYPyR/6784463-0.webp" class="d-block w-100" alt="Image Not Responding">
        </div>
        <div class="carousel-item">
            <img src="https://i.postimg.cc/GtN9c9gH/s-l1600.jpg" class="d-block w-100" alt="Image Not Responding">
        </div>
        <div class="carousel-item">
            <img src="https://i.postimg.cc/ncNKch68/images.jpg" class="d-block w-100" alt="Image Not Responding">
        </div>
        <div class="carousel-item">
            <img src="https://i.postimg.cc/8CBHjVS1/Derek-Zoolander-Center-jpg.webp" class="d-block w-100" alt="Image Not Responding">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="container text-center mt-4">
    <div class="row">
        <div class="col">
            <div class="border border-secondary p-4"> 
                <h1>Upcoming Work</h1>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Assignment</th>
                            <th>Teacher</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for assignment in student.assignments.all %}
                            <tr>
                                <td>{{ assignment.name }}</td>
                                <td>{{ assignment.teacher }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col">
            <div class="border border-secondary p-4">
                <h1>My Classes</h1>
                <table class="table"> 
                    <thead>
                        <tr>
                            <th>Class</th>
                            <th>Schedule</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for classroom in student.classroom.all %}
                            <tr>
                                <td>{{ classroom.name }}</td>
                                <td>{{ classroom.schedule }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="text-center m-4"><br><br>
    <h4>Need Help?</h4>
    <p>Click <a href='{% url "help_index" %}'>here</a> to access our FAQs!</p>
</div><br><br><br><br>

{% endblock %}